.avatar {
  list-style: none;
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 50%;
}
.avatarKing {
  width: 336px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.avatar img {
  display: block;

  border-radius: 50%;
}

.circle {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 12px;
  height: 12px;
  border-radius: 50%;

  background-color: #dbdbdb;
  border: 2px;
}

.online {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 12px;
  height: 12px;
  border-radius: 50%;

  background-color: #4cfe88;
  border: 2px;
}
